.App {
 
  
  white-space: pre-wrap;
}

.responsive {
  margin-top: 1rem;
  max-width: 2560px;
  width: auto;
  height: auto;
  margin-right: 10px;
}
.innerContainer {
  width: auto;
}
.outerContainer {
  /* display: flex;
  flex-direction: column; */
  position: relative;
}
.buttons {
  margin-top: 1rem;
  
}

.invisible {
  display: none;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-spacing: 0;
  width: 75rem;
}
 img {
  float: left;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 20%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input {
  width: 2.5rem;
}
.textstuff {
  color: rgb(0, 0, 0);
  margin-left: 5px;
  font-family: "Times";
  font-size: 19px;
 }

 .generatedouter {
  margin-left: 10.5rem;
  height: auto;
  width: auto;
}

.generated {
  height: auto;
  width: auto;
}

.textinput {
  border: none;
  width: 65rem;
  min-height: 2300px;
  height: auto;
  max-height: 270000px;
  font-family: "Times";
  /* position: absolute; */
  overflow: hidden;

}

@media only screen and (min-width: 200px) and (max-width: 312px) {
  .innerContainer {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
  }
  .textstuff {
font-size: 1ch; 
display: flex;
}

  .generated {
    padding-left: 10px;
    width: auto
  }

  .generatedouter {
    margin-left: 1rem;
    width: 100%;
  }

  .responsive {
    width: auto;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
  }
  .textinput {
    display: flex;
    flex: none;
    font-size: .5ch;
  }
  .buttons {
    display: flex;
  }
button, input {
  font-size: 1ch;
}
input {
  width: 1.5rem;
}
}
@media only screen  and (min-width: 312px) and (max-width: 548px ) {
  .innerContainer {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
  }
  .textstuff {
font-size: 1ch; 
display: flex;
}

  .generated {
    padding-left: 10px;
    width: auto
  }

  .generatedouter {
    margin-left: 1rem;
    width: 100%;
  }

  .responsive {
    width: auto;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
  }
  .textinput {
    display: flex;
    font-size: .75ch;
  }
  .buttons {
    display: flex;
  }
button, input {
  font-size: 1ch;
}
input {
  width: 1.5rem;
}
  
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  
  

  
  
  .generatedouter {
    height: auto;
    width: auto;
  }
  .generated {
    padding-left: 40;
    height: auto;
    width: auto;
  }
  input {
    width: 3.5rem
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .outerContainer {
    margin-top: 1rem;
    margin-left: 1rem;
  }
 .responsive {
   width: 90rem;
 }
  
  table.center {
    width: 77rem;
  }
  .textstuff {
    font-size: 23px;
    width: 90rem;
  }
  .textinput {
    font-size: 5mm;
  }
}
@media screen and (min-width: 2560px) {
  
  .textstuff {
    font-size: 41px;
    width: 155rem;
  }
  table.center {
    width: 80rem;
  }
  .textinput {
    margin-top: 1rem;
    font-size: 35px;
    width: 113rem;
  }
  button, input {
    font-size: 25px;
  }
  img {
    float: left;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 30%;
  }
  input {
    width: 4.5rem
  }
}

 
