.list {

  display: flex;
  flex: 0 0 auto;
  width: 98vw;
  justify-content: flex-start;
  align-self: start;
}
input.indexList {
  flex: 0;
  align-self: flex-start;
  border: none;
  font-size: medium;
 
}
.sectionText {
  border: none;
}
.innerContainer {
  display: inline-flex;
    width: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-left: 1rem;
}
.outerContainer {
  display: flex;
  margin: auto;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.tableContainer {
  display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    align-self: start;

}

  .info {
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
.buttons {
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
}
.buttonContainer {
  flex-direction: row;
}
.invisible {
  display: none;
}

.center {
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-spacing: 0;
  
}
.imageContainer {
  display: flex;
  max-width: 230px;
  height: 330px;
}
img {
 float: left;
 padding-top: 0px;
 padding-right: 10px;
 padding-bottom: 0px;
 padding-left: 0px;
 ;
}
.imageContainer img {
  min-width: 120px;
  min-height: 220px;
  width: auto;
  height: auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input button{
  font-size: medium
  
}
input {
  width: 4em
}
input:disabled, textarea:disabled {
  color: black;
  background: none;
}
.textstuff {
  color: rgb(0, 0, 0);
  /* margin-left: 5px; */
  font-family: "Times";
  flex-wrap:wrap;
  font-size: large;
 }


.textinput {
  font-size: medium;
  border: none;
  width: 100%;
  max-height: 270000px;
  font-family: "Times";
  overflow: hidden;
  resize: none;
  padding-top: 1px;
  margin-bottom: -4px;; 
}

.textOutput {
  display: flex; 
  flex-direction: column;
  margin-bottom: 100rem;
}


@media only screen and (min-width: 200px) and (max-width: 425px) {
  
  .intro {
    width: 100vw;
  }
  .buttonContainer {
    font-size: x-small;
  }
  .textstuff,text {
    font-size: small;
  }
  /* .tableContainer {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  } */
  .textinput {
    width: 100vw;
    font-size: 1.6mm;
   
} 

input.indexList {
  padding-top: 2px;
  font-size: 1.2mm;
}

}
@media only screen  and (min-width: 425px) and (max-width: 568px ) {
  
  .buttonContainer {
    font-size: x-small;
  }
  /* .tableContainer {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  } */
  
  .textstuff {
    font-size: x-small; 
  }
  button input {
    font-size: xx-small;
  }
  .textinput {
    font-size: .35em;
    margin-bottom: .6px;

  }
  input.indexList {
    font-size: .35em;
  }
}

@media only screen  and (min-width: 568px) and (max-width: 768px ) {
  
  .textstuff {
    font-size: small; 
  }
  
  .textinput {
    font-size: small;
    margin-bottom: -8px;
  }
  input.indexList {
    font-size: small;
  }
  .buttons {
    display: flex;
  }

}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .outerContainer {
    padding-left: 7%;
  }
  .author {
    font-size: small;
  }
 
  .textstuff {
    font-size: medium;
  }
  .textinput {
    font-size: small;
  }
  input.indexList {
    font-size: small;
  }
  .intro {
    font-size: small;
    
  }
  
}
@media only screen and (min-width: 1440px) and (max-width: 2560px) {
  .outerContainer {
    margin-top: 1rem;
    margin-left: 1rem;
    padding-left: 25%;
  }
.textstuff {
  font-size: large;
}
.buttonContainer {
  font-size: large;
}

.intro {
  font-size: large;
}
}
  
@media only screen and  (min-width: 2560px) {
  
  .outerContainer {
    margin-top: 1rem;
    margin-left: 1rem;
    padding-left: 35%;
  }
.textstuff {
  font-size: xx-large;
}

.buttonContainer {
  font-size: x-large;
}
  
  .textinput {
    font-size: x-large;
  }
  input.indexList {
    font-size: x-large;
  }
 .intro {
   display: flex;
   flex-wrap: wrap;

   font-size: xx-large;
 }
 .imageContainer {
  max-width: unset;
  height: unset;
   
 }
 .imageContainer img {
  min-width: unset;
  min-height: unset;
  width: 500px;
  height: auto;
 }
 
}
