.App {
  white-space: pre-wrap;
}

.innerContainer {
  display: inline-flex;
    width: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-left: 1rem;
}
.outerContainer {
 
  position: relative;
}
.tableContainer {
  display: inline-flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;

}
.buttons {
  margin-top: 1rem;
  
}

.invisible {
  display: none;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-spacing: 0;
  min-width: 35rem;
  max-width: 75rem;
}
 img {
  float: left;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 20%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input {
  width: 2.5rem;
}
.textstuff {
  color: rgb(0, 0, 0);
  margin-left: 5px;
  font-family: "Times";
  font-size: large;
 }


.textinput {
  border: none;
  width: 65rem;
  min-height: 2300px;
  height: auto;
  max-height: 270000px;
  font-family: "Times";
  overflow: hidden;

}

@media only screen and (min-width: 200px) and (max-width: 312px) {
  
  .textstuff {
    font-size: xx-small; 
} 
  .textinput {
    display: flex;
    flex: none;
    font-size: .5ch;
  }
  .buttons {
    display: flex;
  }
  button, input {
    font-size: 1ch;
  }
  input {
    width: 1.5rem;
  }
}

@media only screen  and (min-width: 312px) and (max-width: 548px ) {
  
  .textstuff {
    font-size: xx-small; 
  }
  
  .textinput {
    display: flex;
    font-size: .75ch;
  }
  .buttons {
    display: flex;
  }
  button, input {
    font-size: 1ch;
  }
  input {
    width: 1.5rem;
  }
  
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  
  .textstuff {
    font-size: medium;
  }
  input {
    width: 3.5rem
  }
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .outerContainer {
    margin-top: 1rem;
    margin-left: 1rem;
  }
.textstuff {
  font-size: larger;
}
  .textinput {
    font-size: 5mm;
  }
  .img {
    width: 35%;
  }
}
